//out: _style.css, sourcemap: false, compress: false

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

.hidden-sm {
  @media (max-width: 1070px) {
    display: none !important;
  }
}

.visible-sm {
  @media (min-width: 1071px) {
    display: none !important;
  }
}

:root {
  font-size: 16px;
  box-sizing: border-box;
  --title-color: #293039;
  --text-color: #232A41;
  --cta: #4577D8;
  --cta-hover: #2A61CD;

  * {
    box-sizing: inherit;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;

    &::before,
    &::after {
      display: block;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #F7F8FB;
  color: var(--text-color);
  line-height: 1.25;
  overflow-x: hidden;
  font-weight: 300;
  min-height: 100vh;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;  
  letter-spacing: 0.01em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}

p {
  margin: 0 0 1.6em;
  font-size: inherit;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 300ms;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cta);
  height: 52px;
  width: 52px;
  outline: none;
  border: 0;
  flex-shrink: 0;
  border-radius: 26px;
  cursor: pointer;

  &:hover {
    background-color: var(--cta-hover);
  }

  &::before {
    height: 24px;
    width: 24px;
  }

  &--zoom::before {
    content: '';
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.998 16L19.9995 20' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M11 18C14.866 18 18 14.866 18 11C18 7.13401 14.866 4 11 4C7.13401 4 4 7.13401 4 11C4 14.866 7.13401 18 11 18Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");    
  }

  &--filter::before {
    content: '';
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4 18H8' stroke='white' stroke-width='2' stroke-linecap='round'/%3e%3cpath d='M4 12H14' stroke='white' stroke-width='2' stroke-linecap='round'/%3e%3cpath d='M4 6H20' stroke='white' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e ");    
  }
}

.wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  padding: 0;
  margin-top: 0;
  margin-bottom: 1.25em;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: inherit;
  color: var(--title-color);

  @media (min-width: 577px) {
    font-size: 32px;
  }
  @media (min-width: 771px) {
    font-size: 36px;
  }
  @media (min-width: 1071px) {
    font-size: 40px;
  }
  @media (min-width: 1201px) {
    font-size: 48px;
  }

  &--center {
    text-align: center;
  }
}

.header {
  height: 68px;
}

.filter-panel {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 32px;

  @media (max-width: 1070px) {
    gap: 4px;
  }

  .filter-search {
    flex-grow: 1;
  }
}

.filter-search {
  display: flex;
  align-items: center;

  input[type=text] {
    border: 0;
    font-family: inherit;
    border-radius: 10px;
    background-color: #FEFEFE;
    color: #000;
    padding: 15px 28px;      
    line-height: 1.2;
    width: 100%;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    transition: color 300ms;
    height: 52px;
    background: #E5EBFA;
    border-radius: 30px;


    &::-webkit-input-placeholder       {color: var(--text-color); opacity: 0.99; transition: opacity 0.3s ease;}
    &::-moz-placeholder                {color: var(--text-color); opacity: 0.99; transition: opacity 0.3s ease;}
    &:-moz-placeholder                 {color: var(--text-color); opacity: 0.99; transition: opacity 0.3s ease;}
    &:-ms-input-placeholder            {color: var(--text-color); opacity: 0.99; transition: opacity 0.3s ease;}

    &:hover::-webkit-input-placeholder {opacity: 0.3;}
    &:hover::-moz-placeholder          {opacity: 0.3;}
    &:hover:-moz-placeholder           {opacity: 0.3;}
    &:hover:-ms-input-placeholder      {opacity: 0.3;}

    &:focus::-webkit-input-placeholder {opacity: 0;}
    &:focus::-moz-placeholder          {opacity: 0;}
    &:focus:-moz-placeholder           {opacity: 0;}
    &:focus:-ms-input-placeholder      {opacity: 0;}
  }

  [type=submit] {
    position: relative;
    margin-left: -52px;
  }
}

.tagline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  padding-bottom: 15px;
  margin-bottom: 45px;

  @media (max-width: 1070px) {
    flex-wrap: nowrap;
    overflow: auto;
    margin-bottom: 17px;
    gap: 5px;
    margin-right: -20px;
  }

  &__item {
    padding: 8px 16px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 6px rgba(37, 48, 60, 0.01), 0px 5px 5px rgba(37, 48, 60, 0.01), 0px 1px 3px rgba(37, 48, 60, 0.01);
    border-radius: 30px;
    cursor: pointer;
    flex-shrink: 0;
    transition: all 300ms;

    &:hover {
      color: #FFF;
      background-color: var(--cta);
    }

    &.active {
      color: #FFF;
      background-color: var(--cta);

      &:hover {
        background-color: var(--cta-hover);
      }
    }
  }
}

.newsgrid {
  @media (max-width: 640px) {
    & > * + * {
      margin-top: 24px;
    }
  }
  @media (min-width: 641px) {
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 24px;    
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1201px) {
    grid-column-gap: 24px;
  }

  .sb-block,
  .newsitem--wide {
    @media (min-width: 641px) {
      grid-column: 1 / -1;
    }
  }

  .newsitem--wide {     
    .newsitem__body {
      padding-bottom: 126%;

      @media (min-width: 577px) {
        padding-bottom: 100%;
      }
      @media (min-width: 641px) {
        padding-bottom: 50%;
      }
    }

    .newsitem__title {
      font-size: 18px;      

      @media (min-width: 577px) {
        font-size: 20px;
        line-height: 1.4;
      }
    }  

    .newsitem__text {
      @media (max-width: 576px) {
        font-size: 14px;
      }
    }    
  }

  .sb-links {
    display: flex;
    gap: 16px;
    overflow: auto;
    padding-bottom: 15px;
    margin-bottom: -15px;    
  }

  .sb-link {
    width: 240px;
    flex-shrink: 0;
    margin-top: 0;

    @media (min-width: 577px) {
      width: 300px;
    }
  }
}

.newsitem {
  padding: 20px 16px;
  position: relative;
  overflow: hidden;
  border-radius: 16px;

  @media (min-width: 577px) {
    padding: 20px;
  }

  &__body {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    z-index: 1;
  }

  &__img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 16px 16px 20px 20px;
    transition: transform 500ms;

    @media (min-width: 577px) {
      border-radius: 16px;

      :hover > & {
        transform: scale(1.025, 1.025);
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    a {
      display: table;
      padding: 4px 16px;
      background-color: var(--cta);
      border-radius: 100px;
      font-weight: 300;
      line-height: 1.25;
      color: #FFFFFF;
      transition: background-color 300ms;

      &:hover {
        background-color: var(--cta-hover);
      }
    }
  }

  &__content {
    position: absolute;
    left: -16px;
    right: -16px;
    bottom: -20px;
    padding: 20px 16px;    
    background: #FFFFFF;
    border-radius: 16px;
    color: inherit;

    @media (min-width: 577px) {
      left: 0;
      right: 0;
      bottom: 0;
      padding: 16px;
    }

    & > * + * {
      margin-top: 8px;

      @media (max-width: 576px) {
        margin-top: 11px;
      }
    }
  }

  &__date {
    display: table;
    padding: 4px 14px;
    background: #E5EBFA;
    border-radius: 100px;  
  }

  &__title {
    display: block;

    @media (max-width: 576px) {
      font-size: 14px;
    }
  }

  &__text {    
    display: block;

    p {
      font-size: inherit;
      line-height: inherit;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: 1071px) {
    flex-direction: row;
  }
}

.sidebar {
  width: 330px; 
  flex-shrink: 0;

  @media (min-width: 1201px) {
    width: 424px;    
  }

  & .sticky > * + *,
  & > * + * {
    margin-top: 24px;
  }
  
}

.content {
  flex-grow: 1;
}

.sb-block {
  background: #FFFFFF;
  box-shadow: 0px 10px 6px rgba(37, 48, 60, 0.01), 0px 5px 5px rgba(37, 48, 60, 0.01), 0px 1px 3px rgba(37, 48, 60, 0.01);
  border-radius: 24px;
  padding: 33px 15px 33px 20px;

  @media (min-width: 1201px) {
    padding: 40px 30px 40px 40px;
  }

  &__title {
    font-size: 20px;
    line-height: 1.33; 
    margin-bottom: 25px;    

    @media (min-width: 1201px) {
      font-size: 24px;
      margin-bottom: 40px;
    }
  }
}

.sb-links {
  & > * + * {
    margin-top: 24px;
  }
}

.sb-link {
  display: flex;
  align-items: center;
  gap: 10px;

  &__icon {
    flex-shrink: 0;
    margin-top: 4px;
    align-self: flex-start;

    &::before {
      content: '';
      min-height: 20px;
      width: 20px;
    }

    &--check {
      &::before {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_947_25528)'%3e%3cpath d='M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM8 15L3 10L4.41 8.59L8 12.17L15.59 4.58L17 6L8 15Z' fill='%23A8BAE7'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_947_25528'%3e%3crect width='20' height='20' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
      }
    }
  }

  &__img {
    height: 56px;
    width: 56px;
    overflow: hidden;
    border-radius: 30px;
    flex-shrink: 0;
    position: relative;    

    :hover > & img {
      transform: scale(1.05, 1.05) translate(-50%,-50%);
    }    

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      transition: transform 500ms;
    }
  }

  &__title {
    @media (min-width: 577px) {
      line-height: 1.4;
    }
    @media (min-width: 1201px) {
      font-size: 20px;
    }
  }
}

.footer {
  height: 90px;
}

.sticky {
  @media (min-width: 1201px) {
    position: sticky !important;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 10px;
    z-index: 2;
  }
}

.scrolled {
  scrollbar-color: var(--cta) #EBF1F5;

  &::-webkit-scrollbar{
    width: 4px;
    background-color: #EBF1F5;
  }
  &::-webkit-scrollbar:horizontal{
    height:6px;
  }
  &::-webkit-scrollbar-track{
    background-color: #EBF1F5;
    border-radius:6px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: var(--cta);
    border:1px solid var(--cta);
    border-radius:8px;
  }
  &::-webkit-scrollbar-thumb:hover{
    background-color: var(--cta-hover);
    border:1px solid var(--cta-hover);
  }
  &::-webkit-scrollbar-thumb:active{
    background-color: var(--cta-hover);
    border:1px solid  var(--cta-hover);
  }
}
